
on init
    export PATH /sbin
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard
    export VLX_ADB_DEV /dev/vbpipe6

    symlink /system/etc /etc

#    Currently no SDCARD on globe
#    symlink /dev/block/hdd1 /dev/block/sdcard

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

    chown system cache /cache
    chmod 0770 /cache

    # This may have been created by the recovery system with odd permissions
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

    chmod 0777 /dev/ttyNK

    chmod 666 /dev/vbpipe8
    setprop log.redirect-stdio true

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

service adbd /sbin/adbd 
#    disabled

#service vusbman /system/bin/vusbman vbpipe8
#    user root

service recovery /sbin/recovery


#on property:persist.service.adb.enable=1
#    start adbd

#on property:persist.service.adb.enable=0
#    stop adbd
