
on init

    export PATH /sbin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export VLX_ADB_DEV /dev/vbpipe6

    symlink /system/etc /etc

#    Currently no SDCARD on globe
#    symlink /dev/block/hdd1 /dev/block/sdcard

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mount /tmp /tmp tmpfs

    mount  ext3 /dev/block/hda1 /system
    mount  ext3 /dev/block/hda1 /system ro remount
    chown system cache /cache
    chmod 0770 /cache

    # This may have been created by the recovery system with odd permissions
    chown system cache /cache/recovery
    chmod 0770 /cache/recovery

    mkdir /data/property 0700 root root
    chmod 0777 /dev/ttyNK

    chmod 666 /dev/vbpipe1
    chmod 666 /dev/vbpipe3
    chmod 666 /dev/vbpipe4
    chmod 666 /dev/vbpipe5
    chmod 666 /dev/vbpipe7
    chmod 666 /dev/vbpipe8
    chmod 666 /dev/pmem_gfx    
    setprop log.redirect-stdio true

on boot

    ifup lo
    hostname localhost
    domainname localdomain

    class_start default

## Daemon processes to be run by init.
##
service console /system/bin/sh
    console

# adbd is always started in chargeonly mode
service adbd /sbin/adbd

service vusbman /system/bin/vusbman vbpipe8
    user root
service chargeonly /system/bin/logwrapper /system/bin/chargeonly
    user root

